In [1]:
import pandas as pd
import numpy as np
import csv
from dateutil.parser import parse

In [2]:
# Currency Predictions
col_curr = ["currency","rate_curr","curr_date","rate_7","rate_30","rate_90"]
df_curr_pred = pd.DataFrame(columns = col_curr)

curr_date = parse("April 24, 2016")

with open('April_24_Currency_Predictions.csv', 'rb') as csvfile:
    csv_val = csv.reader(csvfile)
    for row in csv_val:
        #Creates a numpy array
        new_curr = np.array([row[0].strip(),row[1],curr_date, row[2],row[3],row[4]])
        #Appends array to data frame
        df_curr_pred = df_curr_pred.append(pd.DataFrame(new_curr, index=col_curr).transpose())  

print df_curr_pred.head(10)

                    currency rate_curr            curr_date  rate_7 rate_30  \
0     ALGERIAN DINAR   (DZD)    109.10  2016-04-24 00:00:00  109.31  108.28
0  Australian dollar   (AUD)      0.78  2016-04-24 00:00:00    0.78    0.77
0      Bahrain dinar   (BHD)      0.38  2016-04-24 00:00:00    0.38    0.38
0     BOLIVAR FUERTE   (VEF)      9.97  2016-04-24 00:00:00   10.25   12.89
0      Botswana pula   (BWP)      0.09  2016-04-24 00:00:00    0.09    0.09
0     Brazilian real   (BRL)      3.55  2016-04-24 00:00:00    3.57    3.58
0      Brunei dollar   (BND)      1.35  2016-04-24 00:00:00    1.35    1.34
0    Canadian dollar   (CAD)      1.27  2016-04-24 00:00:00    1.27    1.28
0       Chilean peso   (CLP)    662.24  2016-04-24 00:00:00  659.18  671.20
0       Chinese yuan   (CNY)      6.48  2016-04-24 00:00:00    6.48    6.46

  rate_90
0  109.59
0    0.76
0    0.38
0   13.23
0    0.09
0    3.66
0    1.35
0    1.29
0  677.64
0    6.46

In [3]:
# Cost of Living Index (used to be Big Mac Data)
col_big_mac = ["country","country_code","date","price"]
df_big_mac = pd.DataFrame(columns = col_big_mac)

with open('cost_living_data_parsed_plus_code.csv', 'rb') as csvfile:
    csv_val = csv.reader(csvfile)
    for row in csv_val:
        
        if (parse(row[2]).year) < 2016:
            break

        #Creates a numpy array
        new_big_mac = np.array([row[0],row[1],row[2],row[3]])
        #Appends array to data frame
        df_big_mac = df_big_mac.append(pd.DataFrame(new_big_mac, index=col_big_mac).transpose())

print df_big_mac.head(10)

      country country_code                 date  price
0     Albania          ALB  2016-01-01 00:00:00  20.98
0     Algeria          DZA  2016-01-01 00:00:00  18.42
0   Argentina          ARG  2016-01-01 00:00:00  41.97
0     Armenia          ARM  2016-01-01 00:00:00  23.13
0   Australia          AUS  2016-01-01 00:00:00  60.43
0     Austria          AUT  2016-01-01 00:00:00  47.16
0  Azerbaijan          AZE  2016-01-01 00:00:00  20.35
0     Bahamas          BHS  2016-01-01 00:00:00  74.22
0     Bahrain          BHR  2016-01-01 00:00:00  41.25
0  Bangladesh          BGD  2016-01-01 00:00:00  20.99

In [4]:
# Currency Country Data
col_country = ["currency_key","missing_curr","curr","country_code","country"]
df_country = pd.DataFrame(columns = col_country)

with open('Currency_Country.csv', 'rb') as csvfile:
    csv_val = csv.reader(csvfile)
    for row in csv_val:

        #Creates a numpy array
        new_country = np.array([row[0].strip(),row[1],row[2],row[3],row[4]])
        #Appends array to data frame
        df_country = df_country.append(pd.DataFrame(new_country, index=col_country).transpose())
        
print df_country.head(10)

                currency_key missing_curr curr country_code  \
0                                     AFN               AFG
0                                     ALL               ALB
0     ALGERIAN DINAR   (DZD)               DZD          DZA
0                                     AOA               AGO
0                                     XCD               ATG
0                                     ARS               ARG
0                                     AMD               ARM
0  Australian dollar   (AUD)               AUD          AUS
0               euro   (EUR)               EUR          AUT
0                                     AZN               AZE

               country
0          Afghanistan
0              Albania
0              Algeria
0               Angola
0  Antigua and Barbuda
0            Argentina
0              Armenia
0            Australia
0              Austria
0           Azerbaijan

In [5]:
# map all three into a single flat file

df_big_country = pd.merge(left=df_country,right=df_big_mac, how='left', left_on='country_code', right_on='country_code')

df_big_country = df_big_country[0:174]
df_big_country.tail(10)

,currency_key,missing_curr,curr,country_code,country_x,country_y,date,price
164,,UAH,,UKR,Ukraine,Ukraine,2016-01-01 00:00:00,19.39
165,U.A.E. dirham (AED),,AED,ARE,United Arab Emirates,UAE,2016-01-01 00:00:00,67.13
166,U.K. pound sterling (GBP),,GBP,GBR,United Kingdom,Britain,2016-01-01 00:00:00,59.53
167,PESO URUGUAYO (UYU),,UYU,URY,Uruguay,Uruguay,2016-01-01 00:00:00,36.49
168,,UZS,,UZB,Uzbekistan,Uzbekistan,2016-01-01 00:00:00,29.23
169,BOLIVAR FUERTE (VEF),,VEF,VEN,Venezuela,Venezuela,2016-01-01 00:00:00,36.71
170,,VND,,VNM,Vietnam,Vietnam,2016-01-01 00:00:00,27.22
171,,YER,,YEM,Yemen,NaN,NaN,NaN
172,,ZMW,,ZMB,Zambia,Zambia,2016-01-01 00:00:00,33.88
173,U.S. dollar (USD),,USD,ZWE,Zimbabwe,Zimbabwe,2016-01-01 00:00:00,35.32

In [6]:
# map all three into a single flat file

df_big_country_curr = pd.merge(left=df_big_country,right=df_curr_pred, how='left', left_on='currency_key', right_on='currency')

df_big_country_curr

,currency_key,missing_curr,curr,country_code,country_x,country_y,date,price,currency,rate_curr,curr_date,rate_7,rate_30,rate_90
0,,AFN,,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,ALL,,ALB,Albania,Albania,2016-01-01 00:00:00,20.98,NaN,NaN,NaN,NaN,NaN,NaN
2,ALGERIAN DINAR (DZD),,DZD,DZA,Algeria,Algeria,2016-01-01 00:00:00,18.42,ALGERIAN DINAR (DZD),109.10,2016-04-24 00:00:00,109.31,108.28,109.59
3,,AOA,,AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,XCD,,ATG,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,ARS,,ARG,Argentina,Argentina,2016-01-01 00:00:00,41.97,NaN,NaN,NaN,NaN,NaN,NaN
6,,AMD,,ARM,Armenia,Armenia,2016-01-01 00:00:00,23.13,NaN,NaN,NaN,NaN,NaN,NaN
7,Australian dollar (AUD),,AUD,AUS,Australia,Australia,2016-01-01 00:00:00,60.43,Australian dollar (AUD),0.78,2016-04-24 00:00:00,0.78,0.77,0.76
8,euro (EUR),,EUR,AUT,Austria,Austria,2016-01-01 00:00:00,47.16,euro (EUR),1.13,2016-04-24 00:00:00,1.13,1.14,1.13
9,,AZN,,AZE,Azerbaijan,Azerbaijan,2016-01-01 00:00:00,20.35,NaN,NaN,NaN,NaN,NaN,NaN
10,,BSD,,BHS,Bahamas,Bahamas,2016-01-01 00:00:00,74.22,NaN,NaN,NaN,NaN,NaN,NaN
11,Bahrain dinar (BHD),,BHD,BHR,Bahrain,Bahrain,2016-01-01 00:00:00,41.25,Bahrain dinar (BHD),0.38,2016-04-24 00:00:00,0.38,0.38,0.38
12,,BDT,,BGD,Bangladesh,Bangladesh,2016-01-01 00:00:00,20.99,NaN,NaN,NaN,NaN,NaN,NaN
13,,BBD,,BRB,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,,BYR,,BLR,Belarus,Belarus,2016-01-01 00:00:00,26.86,NaN,NaN,NaN,NaN,NaN,NaN
15,euro (EUR),,EUR,BEL,Belgium,Belgium,2016-01-01 00:00:00,54.28,euro (EUR),1.13,2016-04-24 00:00:00,1.13,1.14,1.13
16,,BZD,,BLZ,Belize,Belize,2016-01-01 00:00:00,36.57,NaN,NaN,NaN,NaN,NaN,NaN
17,,XOF,,BEN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,,BMD,,BMU,Bermuda,Bermuda,2016-01-01 00:00:00,127.17,NaN,NaN,NaN,NaN,NaN,NaN
19,,BTN,,BTN,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,,BOB,,BOL,Bolivia,Bolivia,2016-01-01 00:00:00,24.27,NaN,NaN,NaN,NaN,NaN,NaN
21,Botswana pula (BWP),,BWP,BWA,Botswana,Botswana,2016-01-01 00:00:00,23.64,Botswana pula (BWP),0.09,2016-04-24 00:00:00,0.09,0.09,0.09
22,Brazilian real (BRL),,BRL,BRA,Brazil,Brazil,2016-01-01 00:00:00,26.1,Brazilian real (BRL),3.55,2016-04-24 00:00:00,3.57,3.58,3.66
23,Brunei dollar (BND),,BND,BRN,Brunei Darussalam,Brunei,2016-01-01 00:00:00,36.68,Brunei dollar (BND),1.35,2016-04-24 00:00:00,1.35,1.34,1.35
24,,BGN,,BGR,Bulgaria,Bulgaria,2016-01-01 00:00:00,22.95,NaN,NaN,NaN,NaN,NaN,NaN
25,,XOF,,BFA,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,,BIF,,BDI,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,,KHR,,KHM,Cambodia,Cambodia,2016-01-01 00:00:00,30.5,NaN,NaN,NaN,NaN,NaN,NaN
28,,XAF,,CMR,Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Canadian dollar (CAD),,CAD,CAN,Canada,Canada,2016-01-01 00:00:00,46.56,Canadian dollar (CAD),1.27,2016-04-24 00:00:00,1.27,1.28,1.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,,SOS,,SOM,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,South African rand (ZAR),,ZAR,ZAF,South Africa,South Africa,2016-01-01 00:00:00,24.38,South African rand (ZAR),14.33,2016-04-24 00:00:00,14.32,14.62,14.97
146,euro (EUR),,EUR,ESP,Spain,Spain,2016-01-01 00:00:00,38.21,euro (EUR),1.13,2016-04-24 00:00:00,1.13,1.14,1.13
147,Sri Lanka rupee (LKR),,LKR,LKA,Sri Lanka,Sri Lanka,2016-01-01 00:00:00,21.85,Sri Lanka rupee (LKR),143.90,2016-04-24 00:00:00,144.00,144.27,145.46
148,,SDG,,SDN,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,,SRD,,SUR,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,,SZL,,SWZ,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,Swedish krona (SEK),,SEK,SWE,Sweden,Sweden,2016-01-01 00:00:00,51.44,Swedish krona (SEK),8.11,2016-04-24 00:00:00,8.11,8.10,8.14
152,Swiss franc (CHF),,CHF,CHE,Switzerland,Switzerland,2016-01-01 00:00:00,90.44,Swiss franc (CHF),0.97,2016-04-24 00:00:00,0.97,0.96,0.96
153,,SYP,,SYR,Syria,Syria,2016-01-01 00:00:00,20.35,NaN,NaN,NaN,NaN,NaN,NaN
154,,TWD,,TWN,Taiwan,Taiwan,2016-01-01 00:00:00,36.07,NaN,NaN,NaN,NaN,NaN,NaN
155,,TJS,,TJK,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,,TZS,,TZA,Tanzania,Tanzania,2016-01-01 00:00:00,38.07,NaN,NaN,NaN,NaN,NaN,NaN
157,Thai baht (THB),,THB,THA,Thailand,Thailand,2016-01-01 00:00:00,28.08,Thai baht (THB),35.00,2016-04-24 00:00:00,35.01,35.09,35.24
158,,XOF,,TGO,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Trinidad and Tobago dollar (TTD),,TTD,TTO,Trinidad and Tobago,Trinidad And Tobago,2016-01-01 00:00:00,39.71,Trinidad and Tobago dollar (TTD),6.62,2016-04-24 00:00:00,6.61,6.59,6.60
160,TUNISIAN DINAR (TND),,TND,TUN,Tunisia,Tunisia,2016-01-01 00:00:00,19.32,TUNISIAN DINAR (TND),2.01,2016-04-24 00:00:00,2.01,2.01,2.03
161,,TRY,,TUR,Turkey,Turkey,2016-01-01 00:00:00,28.43,NaN,NaN,NaN,NaN,NaN,NaN
162,,TMT,,TKM,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,,UGX,,UGA,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,,UAH,,UKR,Ukraine,Ukraine,2016-01-01 00:00:00,19.39,NaN,NaN,NaN,NaN,NaN,NaN
165,U.A.E. dirham (AED),,AED,ARE,United Arab Emirates,UAE,2016-01-01 00:00:00,67.13,U.A.E. dirham (AED),3.67,2016-04-24 00:00:00,3.67,3.67,3.67
166,U.K. pound sterling (GBP),,GBP,GBR,United Kingdom,Britain,2016-01-01 00:00:00,59.53,U.K. pound sterling (GBP),1.43,2016-04-24 00:00:00,1.44,1.42,1.42
167,PESO URUGUAYO (UYU),,UYU,URY,Uruguay,Uruguay,2016-01-01 00:00:00,36.49,PESO URUGUAYO (UYU),31.81,2016-04-24 00:00:00,31.93,31.31,31.75
168,,UZS,,UZB,Uzbekistan,Uzbekistan,2016-01-01 00:00:00,29.23,NaN,NaN,NaN,NaN,NaN,NaN
169,BOLIVAR FUERTE (VEF),,VEF,VEN,Venezuela,Venezuela,2016-01-01 00:00:00,36.71,BOLIVAR FUERTE (VEF),9.97,2016-04-24 00:00:00,10.25,12.89,13.23
170,,VND,,VNM,Vietnam,Vietnam,2016-01-01 00:00:00,27.22,NaN,NaN,NaN,NaN,NaN,NaN
171,,YER,,YEM,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,,ZMW,,ZMB,Zambia,Zambia,2016-01-01 00:00:00,33.88,NaN,NaN,NaN,NaN,NaN,NaN
173,U.S. dollar (USD),,USD,ZWE,Zimbabwe,Zimbabwe,2016-01-01 00:00:00,35.32,U.S. dollar (USD),1.00,2016-04-24 00:00:00,1.00,1.00,1.00

In [8]:
df_big_country_curr.columns

Index([u'currency_key', u'missing_curr', u'curr', u'country_code',
       u'country_x', u'country_y', u'date', u'price', u'currency',
       u'rate_curr', u'curr_date', u'rate_7', u'rate_30', u'rate_90'],
      dtype='object')

In [9]:
df_big_country_curr_new = df_big_country_curr[["country_code","country_x","currency","currency_key","missing_curr","date","price","rate_curr","curr_date","rate_7","rate_30","rate_90"]]
df_big_country_curr_new

,country_code,country_x,currency,currency_key,missing_curr,date,price,rate_curr,curr_date,rate_7,rate_30,rate_90
0,AFG,Afghanistan,NaN,,AFN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALB,Albania,NaN,,ALL,2016-01-01 00:00:00,20.98,NaN,NaN,NaN,NaN,NaN
2,DZA,Algeria,ALGERIAN DINAR (DZD),ALGERIAN DINAR (DZD),,2016-01-01 00:00:00,18.42,109.10,2016-04-24 00:00:00,109.31,108.28,109.59
3,AGO,Angola,NaN,,AOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATG,Antigua and Barbuda,NaN,,XCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ARG,Argentina,NaN,,ARS,2016-01-01 00:00:00,41.97,NaN,NaN,NaN,NaN,NaN
6,ARM,Armenia,NaN,,AMD,2016-01-01 00:00:00,23.13,NaN,NaN,NaN,NaN,NaN
7,AUS,Australia,Australian dollar (AUD),Australian dollar (AUD),,2016-01-01 00:00:00,60.43,0.78,2016-04-24 00:00:00,0.78,0.77,0.76
8,AUT,Austria,euro (EUR),euro (EUR),,2016-01-01 00:00:00,47.16,1.13,2016-04-24 00:00:00,1.13,1.14,1.13
9,AZE,Azerbaijan,NaN,,AZN,2016-01-01 00:00:00,20.35,NaN,NaN,NaN,NaN,NaN
10,BHS,Bahamas,NaN,,BSD,2016-01-01 00:00:00,74.22,NaN,NaN,NaN,NaN,NaN
11,BHR,Bahrain,Bahrain dinar (BHD),Bahrain dinar (BHD),,2016-01-01 00:00:00,41.25,0.38,2016-04-24 00:00:00,0.38,0.38,0.38
12,BGD,Bangladesh,NaN,,BDT,2016-01-01 00:00:00,20.99,NaN,NaN,NaN,NaN,NaN
13,BRB,Barbados,NaN,,BBD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BLR,Belarus,NaN,,BYR,2016-01-01 00:00:00,26.86,NaN,NaN,NaN,NaN,NaN
15,BEL,Belgium,euro (EUR),euro (EUR),,2016-01-01 00:00:00,54.28,1.13,2016-04-24 00:00:00,1.13,1.14,1.13
16,BLZ,Belize,NaN,,BZD,2016-01-01 00:00:00,36.57,NaN,NaN,NaN,NaN,NaN
17,BEN,Benin,NaN,,XOF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,BMU,Bermuda,NaN,,BMD,2016-01-01 00:00:00,127.17,NaN,NaN,NaN,NaN,NaN
19,BTN,Bhutan,NaN,,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BOL,Bolivia,NaN,,BOB,2016-01-01 00:00:00,24.27,NaN,NaN,NaN,NaN,NaN
21,BWA,Botswana,Botswana pula (BWP),Botswana pula (BWP),,2016-01-01 00:00:00,23.64,0.09,2016-04-24 00:00:00,0.09,0.09,0.09
22,BRA,Brazil,Brazilian real (BRL),Brazilian real (BRL),,2016-01-01 00:00:00,26.1,3.55,2016-04-24 00:00:00,3.57,3.58,3.66
23,BRN,Brunei Darussalam,Brunei dollar (BND),Brunei dollar (BND),,2016-01-01 00:00:00,36.68,1.35,2016-04-24 00:00:00,1.35,1.34,1.35
24,BGR,Bulgaria,NaN,,BGN,2016-01-01 00:00:00,22.95,NaN,NaN,NaN,NaN,NaN
25,BFA,Burkina Faso,NaN,,XOF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BDI,Burundi,NaN,,BIF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,KHM,Cambodia,NaN,,KHR,2016-01-01 00:00:00,30.5,NaN,NaN,NaN,NaN,NaN
28,CMR,Cameroon,NaN,,XAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,CAN,Canada,Canadian dollar (CAD),Canadian dollar (CAD),,2016-01-01 00:00:00,46.56,1.27,2016-04-24 00:00:00,1.27,1.28,1.29
...,...,...,...,...,...,...,...,...,...,...,...,...
144,SOM,Somalia,NaN,,SOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,ZAF,South Africa,South African rand (ZAR),South African rand (ZAR),,2016-01-01 00:00:00,24.38,14.33,2016-04-24 00:00:00,14.32,14.62,14.97
146,ESP,Spain,euro (EUR),euro (EUR),,2016-01-01 00:00:00,38.21,1.13,2016-04-24 00:00:00,1.13,1.14,1.13
147,LKA,Sri Lanka,Sri Lanka rupee (LKR),Sri Lanka rupee (LKR),,2016-01-01 00:00:00,21.85,143.90,2016-04-24 00:00:00,144.00,144.27,145.46
148,SDN,Sudan,NaN,,SDG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,SUR,Suriname,NaN,,SRD,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,SWZ,Swaziland,NaN,,SZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,SWE,Sweden,Swedish krona (SEK),Swedish krona (SEK),,2016-01-01 00:00:00,51.44,8.11,2016-04-24 00:00:00,8.11,8.10,8.14
152,CHE,Switzerland,Swiss franc (CHF),Swiss franc (CHF),,2016-01-01 00:00:00,90.44,0.97,2016-04-24 00:00:00,0.97,0.96,0.96
153,SYR,Syria,NaN,,SYP,2016-01-01 00:00:00,20.35,NaN,NaN,NaN,NaN,NaN
154,TWN,Taiwan,NaN,,TWD,2016-01-01 00:00:00,36.07,NaN,NaN,NaN,NaN,NaN
155,TJK,Tajikistan,NaN,,TJS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,TZA,Tanzania,NaN,,TZS,2016-01-01 00:00:00,38.07,NaN,NaN,NaN,NaN,NaN
157,THA,Thailand,Thai baht (THB),Thai baht (THB),,2016-01-01 00:00:00,28.08,35.00,2016-04-24 00:00:00,35.01,35.09,35.24
158,TGO,Togo,NaN,,XOF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,TTO,Trinidad and Tobago,Trinidad and Tobago dollar (TTD),Trinidad and Tobago dollar (TTD),,2016-01-01 00:00:00,39.71,6.62,2016-04-24 00:00:00,6.61,6.59,6.60
160,TUN,Tunisia,TUNISIAN DINAR (TND),TUNISIAN DINAR (TND),,2016-01-01 00:00:00,19.32,2.01,2016-04-24 00:00:00,2.01,2.01,2.03
161,TUR,Turkey,NaN,,TRY,2016-01-01 00:00:00,28.43,NaN,NaN,NaN,NaN,NaN
162,TKM,Turkmenistan,NaN,,TMT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,UGA,Uganda,NaN,,UGX,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,UKR,Ukraine,NaN,,UAH,2016-01-01 00:00:00,19.39,NaN,NaN,NaN,NaN,NaN
165,ARE,United Arab Emirates,U.A.E. dirham (AED),U.A.E. dirham (AED),,2016-01-01 00:00:00,67.13,3.67,2016-04-24 00:00:00,3.67,3.67,3.67
166,GBR,United Kingdom,U.K. pound sterling (GBP),U.K. pound sterling (GBP),,2016-01-01 00:00:00,59.53,1.43,2016-04-24 00:00:00,1.44,1.42,1.42
167,URY,Uruguay,PESO URUGUAYO (UYU),PESO URUGUAYO (UYU),,2016-01-01 00:00:00,36.49,31.81,2016-04-24 00:00:00,31.93,31.31,31.75
168,UZB,Uzbekistan,NaN,,UZS,2016-01-01 00:00:00,29.23,NaN,NaN,NaN,NaN,NaN
169,VEN,Venezuela,BOLIVAR FUERTE (VEF),BOLIVAR FUERTE (VEF),,2016-01-01 00:00:00,36.71,9.97,2016-04-24 00:00:00,10.25,12.89,13.23
170,VNM,Vietnam,NaN,,VND,2016-01-01 00:00:00,27.22,NaN,NaN,NaN,NaN,NaN
171,YEM,Yemen,NaN,,YER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,ZMB,Zambia,NaN,,ZMW,2016-01-01 00:00:00,33.88,NaN,NaN,NaN,NaN,NaN
173,ZWE,Zimbabwe,U.S. dollar (USD),U.S. dollar (USD),,2016-01-01 00:00:00,35.32,1.00,2016-04-24 00:00:00,1.00,1.00,1.00

In [10]:
df_big_country_curr_new.to_csv("currency_flat_file_april_24_2016.csv")

# Add Flat File Data to MongoDB

In [12]:
df_big_country_curr_new = pd.read_csv("currency_flat_file_april_24_2016.csv")
print df_big_country_curr_new

    country_code             country_x                            currency  \
0            AFG           Afghanistan                                 NaN
1            ALB               Albania                                 NaN
2            DZA               Algeria              ALGERIAN DINAR   (DZD)
3            AGO                Angola                                 NaN
4            ATG   Antigua and Barbuda                                 NaN
5            ARG             Argentina                                 NaN
6            ARM               Armenia                                 NaN
7            AUS             Australia           Australian dollar   (AUD)
8            AUT               Austria                        euro   (EUR)
9            AZE            Azerbaijan                                 NaN
10           BHS               Bahamas                                 NaN
11           BHR               Bahrain               Bahrain dinar   (BHD)
12           BGD            Bangladesh                                 NaN
13           BRB              Barbados                                 NaN
14           BLR               Belarus                                 NaN
15           BEL               Belgium                        euro   (EUR)
16           BLZ                Belize                                 NaN
17           BEN                 Benin                                 NaN
18           BMU               Bermuda                                 NaN
19           BTN                Bhutan                                 NaN
20           BOL               Bolivia                                 NaN
21           BWA              Botswana               Botswana pula   (BWP)
22           BRA                Brazil              Brazilian real   (BRL)
23           BRN     Brunei Darussalam               Brunei dollar   (BND)
24           BGR              Bulgaria                                 NaN
25           BFA          Burkina Faso                                 NaN
26           BDI               Burundi                                 NaN
27           KHM              Cambodia                                 NaN
28           CMR              Cameroon                                 NaN
29           CAN                Canada             Canadian dollar   (CAD)
..           ...                   ...                                 ...
144          SOM               Somalia                                 NaN
145          ZAF          South Africa          South African rand   (ZAR)
146          ESP                 Spain                        euro   (EUR)
147          LKA             Sri Lanka             Sri Lanka rupee   (LKR)
148          SDN                 Sudan                                 NaN
149          SUR              Suriname                                 NaN
150          SWZ             Swaziland                                 NaN
151          SWE                Sweden               Swedish krona   (SEK)
152          CHE           Switzerland                 Swiss franc   (CHF)
153          SYR                 Syria                                 NaN
154          TWN                Taiwan                                 NaN
155          TJK            Tajikistan                                 NaN
156          TZA              Tanzania                                 NaN
157          THA              Thailand                   Thai baht   (THB)
158          TGO                  Togo                                 NaN
159          TTO   Trinidad and Tobago  Trinidad and Tobago dollar   (TTD)
160          TUN               Tunisia              TUNISIAN DINAR   (TND)
161          TUR                Turkey                                 NaN
162          TKM          Turkmenistan                                 NaN
163          UGA                Uganda                                 NaN
164          UKR               Ukraine                                 NaN
165          ARE  United Arab Emirates               U.A.E. dirham   (AED)
166          GBR        United Kingdom         U.K. pound sterling   (GBP)
167          URY               Uruguay               PESO URUGUAYO   (UYU)
168          UZB            Uzbekistan                                 NaN
169          VEN             Venezuela              BOLIVAR FUERTE   (VEF)
170          VNM               Vietnam                                 NaN
171          YEM                 Yemen                                 NaN
172          ZMB                Zambia                                 NaN
173          ZWE              Zimbabwe                 U.S. dollar   (USD)

                           currency_key missing_curr                 date  \
0                                   NaN          AFN                  NaN
1                                   NaN          ALL  2016-01-01 00:00:00
2                ALGERIAN DINAR   (DZD)          NaN  2016-01-01 00:00:00
3                                   NaN          AOA                  NaN
4                                   NaN          XCD                  NaN
5                                   NaN          ARS  2016-01-01 00:00:00
6                                   NaN          AMD  2016-01-01 00:00:00
7             Australian dollar   (AUD)          NaN  2016-01-01 00:00:00
8                          euro   (EUR)          NaN  2016-01-01 00:00:00
9                                   NaN          AZN  2016-01-01 00:00:00
10                                  NaN          BSD  2016-01-01 00:00:00
11                Bahrain dinar   (BHD)          NaN  2016-01-01 00:00:00
12                                  NaN          BDT  2016-01-01 00:00:00
13                                  NaN          BBD                  NaN
14                                  NaN          BYR  2016-01-01 00:00:00
15                         euro   (EUR)          NaN  2016-01-01 00:00:00
16                                  NaN          BZD  2016-01-01 00:00:00
17                                  NaN          XOF                  NaN
18                                  NaN          BMD  2016-01-01 00:00:00
19                                  NaN          BTN                  NaN
20                                  NaN          BOB  2016-01-01 00:00:00
21                Botswana pula   (BWP)          NaN  2016-01-01 00:00:00
22               Brazilian real   (BRL)          NaN  2016-01-01 00:00:00
23                Brunei dollar   (BND)          NaN  2016-01-01 00:00:00
24                                  NaN          BGN  2016-01-01 00:00:00
25                                  NaN          XOF                  NaN
26                                  NaN          BIF                  NaN
27                                  NaN          KHR  2016-01-01 00:00:00
28                                  NaN          XAF                  NaN
29              Canadian dollar   (CAD)          NaN  2016-01-01 00:00:00
..                                  ...          ...                  ...
144                                 NaN          SOS                  NaN
145          South African rand   (ZAR)          NaN  2016-01-01 00:00:00
146                        euro   (EUR)          NaN  2016-01-01 00:00:00
147             Sri Lanka rupee   (LKR)          NaN  2016-01-01 00:00:00
148                                 NaN          SDG                  NaN
149                                 NaN          SRD                  NaN
150                                 NaN          SZL                  NaN
151               Swedish krona   (SEK)          NaN  2016-01-01 00:00:00
152                 Swiss franc   (CHF)          NaN  2016-01-01 00:00:00
153                                 NaN          SYP  2016-01-01 00:00:00
154                                 NaN          TWD  2016-01-01 00:00:00
155                                 NaN          TJS                  NaN
156                                 NaN          TZS  2016-01-01 00:00:00
157                   Thai baht   (THB)          NaN  2016-01-01 00:00:00
158                                 NaN          XOF                  NaN
159  Trinidad and Tobago dollar   (TTD)          NaN  2016-01-01 00:00:00
160              TUNISIAN DINAR   (TND)          NaN  2016-01-01 00:00:00
161                                 NaN          TRY  2016-01-01 00:00:00
162                                 NaN          TMT                  NaN
163                                 NaN          UGX                  NaN
164                                 NaN          UAH  2016-01-01 00:00:00
165               U.A.E. dirham   (AED)          NaN  2016-01-01 00:00:00
166         U.K. pound sterling   (GBP)          NaN  2016-01-01 00:00:00
167               PESO URUGUAYO   (UYU)          NaN  2016-01-01 00:00:00
168                                 NaN          UZS  2016-01-01 00:00:00
169              BOLIVAR FUERTE   (VEF)          NaN  2016-01-01 00:00:00
170                                 NaN          VND  2016-01-01 00:00:00
171                                 NaN          YER                  NaN
172                                 NaN          ZMW  2016-01-01 00:00:00
173                 U.S. dollar   (USD)          NaN  2016-01-01 00:00:00

      price  rate_curr            curr_date  rate_7  rate_30  rate_90
0       NaN        NaN                  NaN     NaN      NaN      NaN
1     20.98        NaN                  NaN     NaN      NaN      NaN
2     18.42     109.10  2016-04-24 00:00:00  109.31   108.28   109.59
3       NaN        NaN                  NaN     NaN      NaN      NaN
4       NaN        NaN                  NaN     NaN      NaN      NaN
5     41.97        NaN                  NaN     NaN      NaN      NaN
6     23.13        NaN                  NaN     NaN      NaN      NaN
7     60.43       0.78  2016-04-24 00:00:00    0.78     0.77     0.76
8     47.16       1.13  2016-04-24 00:00:00    1.13     1.14     1.13
9     20.35        NaN                  NaN     NaN      NaN      NaN
10    74.22        NaN                  NaN     NaN      NaN      NaN
11    41.25       0.38  2016-04-24 00:00:00    0.38     0.38     0.38
12    20.99        NaN                  NaN     NaN      NaN      NaN
13      NaN        NaN                  NaN     NaN      NaN      NaN
14    26.86        NaN                  NaN     NaN      NaN      NaN
15    54.28       1.13  2016-04-24 00:00:00    1.13     1.14     1.13
16    36.57        NaN                  NaN     NaN      NaN      NaN
17      NaN        NaN                  NaN     NaN      NaN      NaN
18   127.17        NaN                  NaN     NaN      NaN      NaN
19      NaN        NaN                  NaN     NaN      NaN      NaN
20    24.27        NaN                  NaN     NaN      NaN      NaN
21    23.64       0.09  2016-04-24 00:00:00    0.09     0.09     0.09
22    26.10       3.55  2016-04-24 00:00:00    3.57     3.58     3.66
23    36.68       1.35  2016-04-24 00:00:00    1.35     1.34     1.35
24    22.95        NaN                  NaN     NaN      NaN      NaN
25      NaN        NaN                  NaN     NaN      NaN      NaN
26      NaN        NaN                  NaN     NaN      NaN      NaN
27    30.50        NaN                  NaN     NaN      NaN      NaN
28      NaN        NaN                  NaN     NaN      NaN      NaN
29    46.56       1.27  2016-04-24 00:00:00    1.27     1.28     1.29
..      ...        ...                  ...     ...      ...      ...
144     NaN        NaN                  NaN     NaN      NaN      NaN
145   24.38      14.33  2016-04-24 00:00:00   14.32    14.62    14.97
146   38.21       1.13  2016-04-24 00:00:00    1.13     1.14     1.13
147   21.85     143.90  2016-04-24 00:00:00  144.00   144.27   145.46
148     NaN        NaN                  NaN     NaN      NaN      NaN
149     NaN        NaN                  NaN     NaN      NaN      NaN
150     NaN        NaN                  NaN     NaN      NaN      NaN
151   51.44       8.11  2016-04-24 00:00:00    8.11     8.10     8.14
152   90.44       0.97  2016-04-24 00:00:00    0.97     0.96     0.96
153   20.35        NaN                  NaN     NaN      NaN      NaN
154   36.07        NaN                  NaN     NaN      NaN      NaN
155     NaN        NaN                  NaN     NaN      NaN      NaN
156   38.07        NaN                  NaN     NaN      NaN      NaN
157   28.08      35.00  2016-04-24 00:00:00   35.01    35.09    35.24
158     NaN        NaN                  NaN     NaN      NaN      NaN
159   39.71       6.62  2016-04-24 00:00:00    6.61     6.59     6.60
160   19.32       2.01  2016-04-24 00:00:00    2.01     2.01     2.03
161   28.43        NaN                  NaN     NaN      NaN      NaN
162     NaN        NaN                  NaN     NaN      NaN      NaN
163     NaN        NaN                  NaN     NaN      NaN      NaN
164   19.39        NaN                  NaN     NaN      NaN      NaN
165   67.13       3.67  2016-04-24 00:00:00    3.67     3.67     3.67
166   59.53       1.43  2016-04-24 00:00:00    1.44     1.42     1.42
167   36.49      31.81  2016-04-24 00:00:00   31.93    31.31    31.75
168   29.23        NaN                  NaN     NaN      NaN      NaN
169   36.71       9.97  2016-04-24 00:00:00   10.25    12.89    13.23
170   27.22        NaN                  NaN     NaN      NaN      NaN
171     NaN        NaN                  NaN     NaN      NaN      NaN
172   33.88        NaN                  NaN     NaN      NaN      NaN
173   35.32       1.00  2016-04-24 00:00:00    1.00     1.00     1.00

[174 rows x 12 columns]

In [13]:
import pymongo

# Log into Mongo database    
db_name = 'db_tourist'

# Initialize database connection
print '\nConnecting ...'
try:
    dbclient=pymongo.MongoClient('mongodb://mids:1X49ilWN@198.23.108.210:27017/' + db_name)
    #dbclient.database_names()
    print "Connected to Mongo!"
except pymongo.errors.ConnectionFailure, e:
    print "Connection failed : %s" % e 

# Get the database
print '\nGetting database ...'
db = dbclient['db_tourist']
print '\nHere are the collections available in this database:'
print db.collection_names()

print '\nGood to go!'

Connecting ...
Connected to Mongo!

Getting database ...

Here are the collections available in this database:
[u'curr_preds', u'curr_flat_file_april_2016', u'db_gdelt', u'db_currency', u'db_gdelt_preds', u'curr_flat_file', u'db_money']

Good to go!

In [17]:
# drop previous curr_preds collection

db.drop_collection('curr_preds')
#db.drop_collection('curr_flat_file_april_2016')
#db.drop_collection('curr_flat_file')

In [19]:
coll_currency = db['curr_preds']

In [20]:
with open('currency_flat_file_april_24_2016.csv', 'rb') as csvfile:
    reader = csv.reader(csvfile)
    i = 0
    for row in reader:
        if i > 0:
            coll_currency.insert({"country_code": row[0],"country_x": row[1],"currency": row[2],
                                  "currency_key": row[3],"missing_curr": row[4],"date": row[5],
                                  "price": row[6],"rate_curr": row[7],"curr_date": row[8],"rate_7": row[9],
                                  "rate_30": row[10],"rate_90": row[11]}) 
        i+=1

/home/abyun/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

In [21]:
print db.collection_names()

[u'curr_preds', u'db_gdelt', u'db_currency', u'db_gdelt_preds', u'db_money']

In [23]:
coll_currency.find_one()

"""
{u'_id': ObjectId('57018e6ff9302b0a7324434d'),
 u'country_code': u'AFG',
 u'country_x': u'Afghanistan',
 u'curr_date': u'',
 u'currency': u'',
 u'currency_key': u'',
 u'date': u'',
 u'missing_curr': u'AFN',
 u'price': u'',
 u'rate_30': u'',
 u'rate_7': u'',
 u'rate_90': u'',
 u'rate_curr': u''}
"""

{u'_id': ObjectId('571bb8bef9302b119dc08755'),
 u'country_code': u'AFG',
 u'country_x': u'Afghanistan',
 u'curr_date': u'',
 u'currency': u'',
 u'currency_key': u'',
 u'date': u'',
 u'missing_curr': u'AFN',
 u'price': u'',
 u'rate_30': u'',
 u'rate_7': u'',
 u'rate_90': u'',
 u'rate_curr': u''}

In [24]:
i = 0
for rec in coll_currency.find({}):
    print rec['country_code']
    i +=1
    print i

AFG
1
ALB
2
DZA
3
AGO
4
ATG
5
ARG
6
ARM
7
AUS
8
AUT
9
AZE
10
BHS
11
BHR
12
BGD
13
BRB
14
BLR
15
BEL
16
BLZ
17
BEN
18
BMU
19
BTN
20
BOL
21
BWA
22
BRA
23
BRN
24
BGR
25
BFA
26
BDI
27
KHM
28
CMR
29
CAN
30
CAF
31
TCD
32
CHL
33
CHN
34
COL
35
COM
36
COD
37
COG
38
CRI
39
CIV
40
HRV
41
CUB
42
CYP
43
CZE
44
DNK
45
DJI
46
DOM
47
TMP
48
ECU
49
EGY
50
SLV
51
GNQ
52
ERI
53
EST
54
ETH
55
FJI
56
FIN
57
FRA
58
GAB
59
GMB
60
GEO
61
DEU
62
GHA
63
GRC
64
GRD
65
GTM
66
GIN
67
GNB
68
GUY
69
HTI
70
VAT
71
HND
72
HUN
73
ISL
74
IND
75
IDN
76
IRN
77
IRQ
78
IRL
79
ISR
80
ITA
81
JAM
82
JPN
83
JOR
84
KAZ
85
KEN
86
PRK
87
KOR
88
KWT
89
KGZ
90
LAO
91
LVA
92
LBN
93
LSO
94
LBR
95
LBY
96
LIE
97
LTU
98
LUX
99
MKD
100
MDG
101
MWI
102
MYS
103
MDV
104
MLI
105
MLT
106
MRT
107
MEX
108
FSM
109
MDA
110
MCO
111
MNG
112
MAR
113
MOZ
114
MMR
115
NAM
116
NPL
117
NLD
118
NZL
119
NIC
120
NER
121
NGA
122
NOR
123
OMN
124
PAK
125
PAN
126
PNG
127
PRY
128
PER
129
PHL
130
POL
131
PRT
132
QAT
133
ROM
134
RUS
135
RWA
136
KNA
137
LCA
138
SAU
139
SEN
140
SRB
141
SLE
142
SGP
143
SVK
144
SOM
145
ZAF
146
ESP
147
LKA
148
SDN
149
SUR
150
SWZ
151
SWE
152
CHE
153
SYR
154
TWN
155
TJK
156
TZA
157
THA
158
TGO
159
TTO
160
TUN
161
TUR
162
TKM
163
UGA
164
UKR
165
ARE
166
GBR
167
URY
168
UZB
169
VEN
170
VNM
171
YEM
172
ZMB
173
ZWE
174